* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--back-head-butt);
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card1,
.card2,
.card3 {
    width: 370px;
    padding: 50px;
    height: 100%;
}

.card1 {
    background-color: var(--laranja);
    border-radius: 10px 0 0 10px;
}

.card1 a {
    color: var(--laranja);
}

.card2 {
    background-color: var(--azul-claro);
}

.card2 a {
    color: var(--azul-claro);
}

.card3 {
    background-color: var(--azul-escuro);
    border-radius: 0 10px 10px 0;
}

.card3 a {
    color: var(--azul-escuro);
}

.card1 h1,
.card2 h1,
.card3 h1 {
    color: var(--back-head-butt);
    font-family: var(--font--Shoulders700);
    text-transform: uppercase;
    font-size: 30px;
    padding: 25px 0;
    font-weight: 700;
}

.card1 p,
.card2 p,
.card3 p {
    color: var(--paragrapf);
    font-family: var(--font-Lexend);
    line-height: 1.8rem;
    max-width: 250px;
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 18px;
}

.btn a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--font-Lexend);
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    background-color: var(--back-head-butt);
    width: 150px;
    transition: .4s ease-in-out;
}

.btn a:hover {
    color: #fff;
    background-color: transparent;
    border: thin solid #fff;
}

@media (max-width:700px) {
    .container {
        margin: 70px 0;
    }
    .cards {
        flex-wrap: wrap;
    }
    .card1 {
        border-radius: 10px 10px 0 0;
    }
    .card3 {
        border-radius: 0 0 10px 10px;
    }
    .card1 h1,
    .card2 h1,
    .card3 h1 {
        padding: 17px 0;
    }
    .card1 p,
    .card2 p,
    .card3 p {
        padding-bottom: 0px;
    }
    .btn a {
        margin-top: 40px;
    }
}